[submodule "submodules/ServiceStack.Text"]
    path = submodules/ServiceStack.Text
url=https://github.com/ajpook-forks/ServiceStack.Text.git
[submodule "submodules/aws-sdk-net"]
    path = submodules/aws-sdk-net
url=https://github.com/ajpook-forks/aws-sdk-net.git
[submodule "submodules/ndesk-options-mirror"]
    path = submodules/ndesk-options-mirror
url=https://github.com/ajpook-forks/ndesk-options-mirror.git
