[submodule "submodules/ServiceStack.Text"]
	path = submodules/ServiceStack.Text
	url = git@github.com:sungiant/ServiceStack.Text.git
[submodule "submodules/aws-sdk-net"]
	path = submodules/aws-sdk-net
	url = git@github.com:sungiant/aws-sdk-net.git
[submodule "submodules/ndesk-options-mirror"]
	path = submodules/ndesk-options-mirror
	url = git@github.com:sungiant/ndesk-options-mirror.git
